<div style="height:100px;background-color:red;">
  
</div>


{% schema %}
{
  "name": "Header",
  "class": "site-header-wrapper",
  "settings": [
    {
      "type": "checkbox",
      "id": "sticky_header",
      "label": "Enable sticky header",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "full_width_header",
      "label": "Enable full width header",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image",
      "info": "200 x 80px .png recommended"
    },
    {
      "type": "range",
      "id": "logo_height",
      "label": "Logo image max-height",
      "min": 40,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "logo_width",
      "label": "Logo image max-width",
      "min": 150,
      "max": 250,
      "step": 1,
      "unit": "px",
      "default": 200,
      "info": "When adjusting the max-width, your logo image may disappear momentarily while a new logo image is generated"
    },
    {
      "type": "header",
      "content": "Search"
    },
    {
      "type": "select",
      "id": "filter_search_by",
      "label": "Refined search",
      "info": "Allow customers to refine their search. [Learn more](https://support.pixelunion.net/hc/en-us/articles/360025901534-Customizing-Empire-s-header-Search-bar)",
      "options": [
        {
          "value": "disabled",
          "label": "Disabled"
        },
        {
          "value": "product_type",
          "label": "By product type"
        },
        {
          "value": "tag",
          "label": "By tag"
        }
      ],
      "default": "disabled"
    },
    {
      "type": "checkbox",
      "id": "enable_live_search",
      "label": "Enable live search",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_mobile_search_bar",
      "label": "Show search bar on mobile",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_live_search_images",
      "label": "Show product images in live search results",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_live_search_articles_pages",
      "label": "Show blog posts and pages in live search results",
      "default": true
    },
    {
      "type": "link_list",
      "id": "quick_links",
      "label": "Quick links",
      "info": "Displays menu links below the search box the first time it is opened. This menu won't show dropdown items."
    },
    {
      "type": "header",
      "content": "Menus"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Main menu",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "secondary_menu",
      "label": "Secondary menu"
    },
    {
      "type": "header",
      "content": "Small Promo"
    },
    {
      "type": "text",
      "id": "small_promo_heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "small_promo_text",
      "label": "Text"
    },
    {
      "type": "richtext",
      "id": "small_promo_text_mobile",
      "label": "Text (mobile)",
      "info": "Use this option if you want to display alternate text in mobile. Recommended for shortening promo text to make suitable for mobile."
    },
    {
      "type": "url",
      "id": "small_promo_link",
      "label": "Link"
    },
    {
      "type": "select",
      "id": "small_promo_icon",
      "label": "Icon",
      "options": [
        {
          "value": "none",
          "label": "No icon"
        },
        {
          "value": "icon-award-trophy",
          "label": "Award trophy"
        },
        {
          "value": "icon-car",
          "label": "Car"
        },
        {
          "value": "icon-cell-phone",
          "label": "Cell phone"
        },
        {
          "value": "icon-chat",
          "label": "Chat"
        },
        {
          "value": "icon-chat-alternate",
          "label": "Chat alternate"
        },
        {
          "value": "icon-credit-card",
          "label": "Credit card"
        },
        {
          "value": "icon-delivery",
          "label": "Delivery"
        },
        {
          "value": "icon-delivery-cart",
          "label": "Delivery cart"
        },
        {
          "value": "icon-delivery-door",
          "label": "Delivery door"
        },
        {
          "value": "icon-delivery-package",
          "label": "Delivery package"
        },
        {
          "value": "icon-email",
          "label": "Email"
        },
        {
          "value": "icon-envelope",
          "label": "Envelope"
        },
        {
          "value": "icon-gift-card",
          "label": "Gift card"
        },
        {
          "value": "icon-heart",
          "label": "Heart"
        },
        {
          "value": "icon-information",
          "label": "Information"
        },
        {
          "value": "icon-label-tag",
          "label": "Label tag"
        },
        {
          "value": "icon-lock",
          "label": "Lock"
        },
        {
          "value": "icon-number-14",
          "label": "Number 14"
        },
        {
          "value": "icon-number-24",
          "label": "Number 24"
        },
        {
          "value": "icon-number-30",
          "label": "Number 30"
        },
        {
          "value": "icon-people",
          "label": "People"
        },
        {
          "value": "icon-pin",
          "label": "Pin"
        },
        {
          "value": "icon-question-mark",
          "label": "Question mark"
        },
        {
          "value": "icon-rating-five-star",
          "label": "Rating 5 star"
        },
        {
          "value": "icon-rating-star",
          "label": "Rating star"
        },
        {
          "value": "icon-smile",
          "label": "Smile"
        },
        {
          "value": "icon-store",
          "label": "Store"
        },
        {
          "value": "icon-tape-measure",
          "label": "Tape measure"
        },
        {
          "value": "icon-thumbs-up",
          "label": "Thumbs up"
        },
        {
          "value": "icon-transfer",
          "label": "Transfer"
        }
      ],
      "default": "none"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "50x50 recommended. Uploading an image will override any icon selected above."
    },
    {
      "type": "header",
      "content": "Cart Icon"
    },
    {
      "type": "select",
      "id": "cart_icon",
      "label": "Cart Icon",
      "options": [
        {
          "value": "icon-bag",
          "label": "Bag"
        },
        {
          "value": "icon-cart",
          "label": "Cart"
        }
      ],
      "default": "icon-cart"
    }
  ],
  "blocks": [
    {
      "type": "meganav_images",
      "name": "Mega menu",
      "limit": 5,
      "settings": [
        {
          "type": "text",
          "id": "meganav_trigger",
          "label": "Mega navigation trigger",
          "info": "Add the menu item that you want to turn into a mega-nav."
        },
        {
          "type": "header",
          "content": "Custom Image 1"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "text_1",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link_1",
          "label": "Link"
        },
        {
          "type": "select",
          "id": "position_1",
          "label": "Position",
          "options": [
            {
              "value": "first",
              "label": "First column"
            },
            {
              "value": "last",
              "label": "Last column"
            }
          ],
          "default": "first"
        },
        {
          "type": "select",
          "id": "size_1",
          "label": "Size",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ],
          "default": "small"
        },
        {
          "type": "header",
          "content": "Custom Image 2"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "text_2",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link_2",
          "label": "Link"
        },
        {
          "type": "select",
          "id": "position_2",
          "label": "Position",
          "options": [
            {
              "value": "first",
              "label": "First column"
            },
            {
              "value": "last",
              "label": "Last column"
            }
          ],
          "default": "first"
        },
        {
          "type": "select",
          "id": "size_2",
          "label": "Size",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ],
          "default": "small"
        }
      ]
    },
    {
      "type": "meganav_sidenav",
      "name": "Mega menu with sidebar",
      "limit": 5,
      "settings": [
        {
          "type": "text",
          "id": "meganav_trigger",
          "label": "Mega navigation trigger",
          "info": "Add the menu item that you want to turn into a mega-nav."
        },
        {
          "type": "radio",
          "id": "submenu_layout",
          "label": "Submenu layout",
          "options": [
            { "value": "text_columns", "label": "Text columns" },
            { "value": "product_images", "label": "Product image grid" },
            { "value": "collection_images", "label": "Collection image grid" }
          ],
          "default": "text_columns"
       },
       {
        "type": "select",
        "id": "image_aspect_ratio",
        "label": "Image aspect ratio",
        "options": [
          { "value": "natural", "label": "Natural" },
          { "value": "short", "label": "Short (4:3)" },
          { "value": "square", "label": "Square (1:1)" },
          { "value": "tall", "label": "Tall (2:3)" }
        ],
        "default": "natural"
        },
        {
          "type": "checkbox",
          "id": "image_crop",
          "label": "Enable image crop",
          "info": "If disabled, white space will be applied around the image. Has no effect when media aspect ratio is set to natural.",
          "default": true
        }
      ]
    },
    {
      "type": "multi_column_menu",
      "name": "Multi-column single menu",
      "settings": [
        {
          "type": "text",
          "id": "menu_trigger",
          "label": "Menu trigger",
          "info": "Add the menu item that you want to turn into a multi-column single menu."
        }
      ]
    }
  ]
}

{% endschema %}